@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .search-bar {
        @apply w-full sm:w-[300px] 
        rounded-full border border-gray-500 
        px-[6px] py-[7px] bg-gray-50;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;     /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;             /* Chrome, Safari and Opera */
    }

    /* Add submenu transition styles */
    .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    }

    .submenu.active {
    max-height: 500px; /* Adjust based on your content */
    }

    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");


}


